:root{
    --color:rgb(190, 128, 12);
    --txt: #d2d2d2;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(23, 23, 23);;
}

.content {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    background: rgb(23, 23, 23);
}

.left-side{
    background: url(./lanterns.jpg);
    background-position:center;
    background-size:auto;
    min-width: 40vw;
    min-height: 700px;
}

.app-name{
    background-color: rgba(0, 0, 0, .6);
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30%;
    font-family: fantasy, sans-serif;
    font-size: 70px;
    font-weight: bold;
    padding: 5px;
}
.logo{
    position: relative;
}

.credit{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .6);
    top: 43rem;
}
.credit a{
    color: white;
}

.right-side{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3rem;
    padding-top: 6rem;
    color: var(--txt);
}
.description-text{
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    max-width: 60rem;
    margin-bottom: 3rem;
}

.form-header{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: 500;
}
form{
    display: flex;
    flex-direction: column;
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 2.5rem;
    padding-right: 20rem;
}

.input-container{
    display: flex;
    flex-flow: column wrap;
    width: 38%;
    font-size: 15px;
    margin-right: 3rem;
}
input{
    height: 35px;   
    border-radius: 5px;
    font-size: 17px;
    padding-left: 5px;
    color: white;
    background-color: rgb(43, 43, 43);
    border-color: transparent;
    outline: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

input:focus {
    border: 2px solid blue;
}



button{
    padding: 10px 60px;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    color: var(--txt);
    background-color: var(--color);
    border: 1px solid black;
}

button:hover{
    color: var(--color);
    background-color: var(--txt);
}

.log-in{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.log-in a{
    text-decoration: none;
    color: var(--color);
}

.log-in a:hover{
    color: var(--txt);
}




